@import "../../constants/constans.scss";

.wrapper {
  background-color: $white;
  margin: 0 auto;
}

.inner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  max-width: 1500px;
  margin: 0 auto;

  @media screen and (max-width: 600px) {
    margin: 0px 20px;
  }
}

.nav {
  a {
    font-family: "Noto Sans";
    text-decoration: none;
    color: $gray;
    margin-left: 57px;
    font-size: 20px;
  }

  .active {
    color: red;
  }
}

.menu-mobile {
  &:hover {
    cursor: pointer;
  }
}
