@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
@import "../constants/constans.scss";

* {
  margin: 0;
  padding: 0;
}

.main_wrapper {
  max-width: 1920px;
  background-color: $light-yellow;
  margin: 0 auto;
}

.main_inner {
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-betweepxn;

  @media screen and (max-width: 600px) {
    max-width: 350px;
    min-width: 350px;
  }
}
