@import "../constants/constans.scss";

.inner-wrapper {
  max-width: 1150px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  box-sizing: border-box;

  @media screen and (max-width: 1150px) {
    flex-direction: column;
    margin: 0 32px;
  }

  &-bottom {
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 48px;

    @media screen and (max-width: 1150px) {
      justify-content: start;
      flex-direction: column;
      padding-bottom: 32px;
      padding-top: 0px;
    }
  }
}

.inner-wrapper-top {
  align-items: center;

  @media screen and (max-width: 1150px) {
    flex-direction: column;
    padding: 32px 0 32px;
  }
}

.top {
  background-color: $dark-gray;
  height: 144px;
  padding-bottom: 10px;
  box-sizing: border-box;

  @media screen and (max-width: 1150px) {
    height: 286px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

.bottom {
  height: 348px;
  background-color: $light-pink;
  padding-bottom: 10px;
  box-sizing: border-box;
  font-family: "Noto Sans";
  font-size: 16px;
  width: 100%;

  @media screen and (max-width: 1150px) {
    height: 867px;
    padding-top: 48px;
  }
}

.btns {
  display: flex;

  @media screen and (max-width: 1150px) {
    flex-direction: column;
  }
}

.bottom_item {
  //margin-top: 48px;

  &-flexElem_2 {
    width: 544px;

    @media screen and (max-width: 1150px) {
      width: auto;
    }
  }

  @media screen and (max-width: 1150px) {
    margin-bottom: 48px;
  }
}

.bottom_item-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text {
  margin-top: 32px;
}

.title {
  margin-bottom: 23px;
}

.list {
  li {
    list-style: none;
    margin-bottom: 16px;

    a {
      color: $dark-olive-green;
    }
  }
}

.social-btns {
  display: flex;
}

.social-btn {
  width: 30px;
  height: 30px;
  background-color: $light-blue;
  border: 1px solid $dark-olive-green;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}
