@import "../constants/constans.scss";

.wrapper {
  background-color: $white;
  margin: 0 auto;
}

.inner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  max-width: 1150px;
  margin: 0 auto;

  @media screen and (max-width: 1150px) {
    margin: 0px 20px;
  }
}

.nav {
  a {
    font-family: "Noto Sans";
    text-decoration: none;
    color: $gray;
    margin-left: 57px;
    font-size: 20px;
  }

  @media screen and (max-width: 1150px) {
    display: flex;
    flex-direction: column;

    a {
      margin-left: 20px;
      height: 40px;
    }
  }
}

.menu-mobile {
  &:hover {
    cursor: pointer;
  }
}

.active {
  color: $light-blue !important;
}
