@import "../../constants/constans.scss";
.inner-wrapper {
  max-width: 1150px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.inner-wrapper-top {
  @media screen and (max-width: 600px) {
    flex-direction: column;
    padding: 32px 0 32px;
  }
}

.top {
  background-color: $dark-gray;
  height: 144px;
  padding-bottom: 10px;
  box-sizing: border-box;

  @media screen and (max-width: 600px) {
    height: 286px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

.bottom {
  height: 348px;
  background-color: $light-pink;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.btns {
  display: flex;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}
